/*JAI SHREE RAM*/

@font-face {
    font-family: gilroy;
    src: url(assets/fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: gilroyitalic;
    src: url(assets/fonts/Gilroy-SemiBoldItalic.ttf);
}
@font-face {
    font-family: juana;
    src: url(assets/fonts/Fontspring-DEMO-juanaalt-regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
}

.card {
    height: 60vh;
    width: 30vw;
    border: 0.1rem solid lightpink;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 1rem 0.5rem rgb(173, 172, 172);

    .card-content {
        height: 100%;
        width: 100%;

        .image {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem  0rem;
    
            img {
                height: 265px;
                width: 265px;
                border-radius: 50%;
                object-fit: cover;
                pointer-events: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    
        h2 {
            font-size: 2.7rem;
            font-weight: 900;
            text-transform: capitalize;
            font-family: gilroy;
            text-align: center;
        }
        h2::selection {
            background-color: black;
            color: yellow;
        }
        
        p {
            font-size: 1rem;
            font-weight: 700;
            text-transform: capitalize;
            font-family: gilroyitalic;
            text-align: center;
            padding: 0.1rem 0rem;
            margin-bottom: 1.5rem;
        }
        p::selection {
            background-color: black;
            color: lightskyblue;
        }
        
        .btm {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            button {
                font-size: 1.6rem;
                font-weight: 700;
                text-transform: capitalize;
                padding: 0.5rem 1rem;
                border: .1rem solid black;
                border-radius: 1rem;
                background-color: transparent;
                cursor: pointer;
                font-family: juana;
                transition: all 0.3s ease;
            }
            button:hover {
                background-color: black;
                color: white;
            }
            button::selection {
                background-color: black;
                color: white;
            }
        }
    
    }
}